# Sales Analysis

#### Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

#### Task#1 -Merge the 12 months of sales data into a single csv file

In [16]:
files=[file for file in os.listdir(r"C:\Users\Lenovo\Documents\jupyter\Pandas practice\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\sales_data")]
all_months_data=pd.DataFrame()
for file in files:
    df=pd.read_csv("C:/Users/Lenovo/Documents/jupyter/Pandas practice/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/sales_data/"+file)
    all_months_data=pd.concat([all_months_data,df])
    
all_months_data.to_csv('all_data.csv',index=False)

### Read Updated DataFrame

In [18]:
all_data=pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"